/* Reset styles */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pretendard', sans-serif;
    background-color: #141414;
    color: #ffffff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000000;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-links li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #f44336;
}

.main-image {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.main-text {
    text-align: center;
    font-size: 2rem;
    margin: 20px 0;
}

.btn {
    display: block;
    background-color: #f44336;
    color: #ffffff;
    padding: 10px 20px;
    margin: 10px auto;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    max-width: 200px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #d32f2f;
}

.hidden {
    display: none;
}

.pricing-container {
    display: flex;
    justify-content: space-around;
    margin: 30px 10px;
}

.plan {
    background-color: #222222;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.plan h2 {
    color: #f44336;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.plan .price {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.plan .description {
    margin-bottom: 20px;
}

.plan ul {
    list-style: none;
    padding: 0;
    margin: 0 0 20px;
    text-align: left;
}

.plan ul li {
    margin: 5px 0;
}

#bank-details {
    margin: 20px;
    text-align: center;
}

.footer-text {
    text-align: center;
    font-size: 0.8rem;
    margin-top: 50px;
    color: #666666;
}
