/* 첫 화면 */
#first-screen {
    margin-top: 50px;
    padding: 20px;
}

#first-screen h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

/* 로그인/회원가입 폼 */
#auth-screen form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#auth-screen input {
    width: 80%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #1c1c1c;
    color: #fff;
}

#auth-screen input::placeholder {
    color: #aaa;
}
